
    <div class="row">
      <div class="col-md-4">
        <form id="radios">
          <select id="radiobox2-form-channel"  class="form-control">
          </select>
        </form>
      </div>
      <div id="radio-info" class="col-md-8">
        <img width="100" class="pull-left" />
        <h1 class="pull-right"></h1>
        <h3></h3>
        <p class="description" class="clearfix"></p>
        <p class="tags"></p>
      </div>
    </div>
    
    <div id="programme" class="row">
      <div class="col-md-1">
        <img width="100" class="pull-left" />
      </div>
      <div id="programme-info" class="col-md-3">
        <h2> <span class="glyphicon glyphicon-book"></span><span class="title"></span></h2>
        <div id="programme-start"> </div>
        <div id="programme-end"> </div>
        <div id="programme-description"> </div>
      </div>
      <div id="track" class="col-md-8">
        <h1>
          <span class="glyphicon glyphicon-stop"></span>
          <span class="artist"></span> - 
          <span class="title"></span>
        </h1>
        <p><span class="start"></span> - <span class="end"></span></p>
        <div class="player"></track>
      </div>
    </div>

    <div id="presenter" class="row">
      <div class="col-md-1">
        <img width="100" class="pull-left" />
      </div>
      <div class="col-md-3">
        <h1>Presentator</h1>
        <h2></h2>
        <div id="presenter-description"> </div>
      </div>
    </div>
