
<div id="full-programme" class="hero-unit block">
        <img class="pull-right" src="images/sample/business1.jpg" width="300" alt="">
        <h1>Hello, world!</h1>
        <p class="description">Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <p><a href="http://cappuccino.ncrv.nl/" target="_blank" class="btn btn-primary btn-large">NCRV Website »</a></p>
        <div class="clearfix"></div>
      </div>
      
    <div class="row">
      <div class="col-md-4">
        <form id="radios">
          <select id="radiobox2-form-channel"  class="form-control">
          </select>
        </form>
      </div>
      <div id="radio-info" class="col-md-8">
        <img width="100" class="pull-left" />
        <h1 class="pull-right"></h1>
        <h3></h3>
        <p class="description" class="clearfix"></p>
        <p class="tags"></p>
      </div>
    </div>
    
    <div id="programme" class="row">
      <div class="col-md-1">
        <img width="100" class="pull-left" />
      </div>
      <div id="programme-info" class="col-md-3 block">
        <h2> <span class="glyphicon glyphicon-book"></span><span class="title">Programma titel</span></h2>
        <div id="programme-start"> </div>
        <div id="programme-end"> </div>
        <div id="programme-description"> Dit is een programma </div>
      </div>
      <div id="track" class="col-md-8">
        <h1>
          <span class="glyphicon glyphicon-stop"></span>
          <span class="artist"></span> - 
          <span class="title"></span>
        </h1>
        <p><span class="start"></span> - <span class="end"></span></p>
        <div class="player"></track>
      </div>
    </div>

    <div id="presenter" class="row" style="clear: both; margin-top: 20px;">
      <div class="col-md-1 block">
        <img width="100" class="pull-left" />
      </div>
      <div class="col-md-3 block">
        <h1>Presentator</h1>
        <h2></h2>
        <div id="presenter-description"> </div>
      </div>
    </div>
